/* common------------------------------
--------------------------------------*/
.h2 {
  font-size: 40px;
  font-family: "impact";
  color: #000;
  text-align: center;
  margin: 50px auto;
  text-transform: uppercase;
}

/* header------------------------------
--------------------------------------*/
header {
  height: 60px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}
header #logo {
  display: flex;
  justify-content: center;
}
header #logo a {
  font-family: "impact";
  text-decoration: none;
  font-size: 40px;
  color: #fff;
}
header #nav_toggle {
  float: right;
  width: 40px;
  height: 40px;
  position: relative;
  top: -33px;
  right: 10px;
  z-index: 100;
}
header #nav_toggle div {
  position: relative;
}
header #nav_toggle div span {
  display: block;
  height: 3px;
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
header #nav_toggle div span:nth-child(1) {
  top: 0px;
}
header #nav_toggle div span:nth-child(2) {
  top: 12px;
}
header #nav_toggle div span:nth-child(3) {
  top: 24px;
}
header nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: none;
}
header nav ul {
  display: block;
  margin: 50px auto;
  width: 90%;
}
header nav ul li {
  margin: 0 auto 50px auto;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  display: block;
  color: #000;
  font-size: 30px;
  font-weight: 700;
}
header nav ul li:last-child {
  font-size: 10px;
  display: flex;
  justify-content: center;
}
header nav ul li:last-child a {
  font-size: 10px;
}
header nav #sns_nav {
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
  width: 200px;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}
header nav #sns_nav li {
  margin: 0;
}
header nav #sns_nav li:nth-child(2) {
  margin: 0 20px;
}
header nav #sns_nav li a i {
  font-size: 40px;
}

.open #nav_toggle div span {
  background-color: #000;
}
.open #nav_toggle div span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
.open #nav_toggle div span:nth-child(2) {
  width: 0;
  left: 50%;
}
.open #nav_toggle div span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* video------------------------------
--------------------------------------*/
#main_video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#main_video #video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  min-width: 177.77vh;
  min-height: 56.25vw;
  z-index: -1;
}

/* About------------------------------
--------------------------------------*/
#about #about_wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#about #about_wrapper #about_img {
  position: relative;
  margin: 0 auto 50px auto;
}
#about #about_wrapper #about_img img {
  width: 300px;
  height: 400px;
}
#about #about_wrapper #about_img .about_bg {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
  width: 300px;
  height: 400px;
  background-color: #5c5757;
}
#about #about_wrapper #about_dis dl {
  line-height: 1.5em;
  font-size: 20px;
}
#about #about_wrapper #about_dis dl dd {
  margin-top: 30px;
}
#about #about_wrapper #about_dis dl dd p {
  margin-bottom: 10px;
}

/* skill------------------------------
--------------------------------------*/
#skill #skill_box {
  background-image: url(../images/skill_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
  padding: 20px;
  margin-bottom: 20px;
}
#skill #skill_box #skill_li {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
#skill #skill_box #skill_li ul {
  color: #fff;
}
#skill #skill_box #skill_li ul li {
  margin-bottom: 20px;
}
#skill #skill_box #skill_li ul li:last-child {
  margin-bottom: 0;
}

/* skillbar------------------------------
--------------------------------------*/
#skill_bar {
  width: 90%;
  margin: 0 auto;
}

.skillbar {
  position: relative;
  display: inline-block;
  margin: 10px auto;
  background: #eee;
  height: 40px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12) inset;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

.skillbar-bar {
  height: 40px;
  width: 0;
  background: #6adcfa;
  border-radius: 3px;
  display: inline-block;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

/* work------------------------------
--------------------------------------*/
#work #work_wrapper {
  margin: 0 auto;
  width: 90%;
}
#work #work_wrapper .work_li {
  position: relative;
  margin-bottom: 30px;
}
#work #work_wrapper .work_li img {
  width: 100%;
  height: 300px;
}
#work #work_wrapper .work_li p {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

/* contact------------------------------
--------------------------------------*/
#contact {
  width: 90%;
  margin: 0 auto;
}
#contact #sns_wrapper {
  margin-bottom: 50px;
}
#contact #sns_wrapper ul {
  display: flex;
  justify-content: center;
}
#contact #sns_wrapper ul li:nth-child(2) {
  margin: 0 30px;
}
#contact #sns_wrapper ul li a {
  text-decoration: none;
  font-size: 40px;
  color: #000;
}
#contact #contact_from {
  border: 1px solid #000;
  height: 500px;
  width: 100%;
}

/* footer------------------------------
--------------------------------------*/
footer {
  margin-top: 50px;
  border-top: 1px solid #000;
  font-size: 8px;
  color: #000;
  text-align: center;
  padding: 20px;
}
footer small a {
  text-decoration: none;
  color: #000;
}

/* work detail------------------------------
--------------------------------------*/
#wrapper {
  width: 90%;
  margin: 0 auto;
}
#wrapper .h2 {
  margin-top: 100px;
}
#wrapper #img_wrapper {
  text-align: center;
  margin-bottom: 50px;
}
#wrapper #img_wrapper img {
  width: 100%;
  height: auto;
}
#wrapper #work_spec {
  border: 1px solid #000;
  padding: 20px;
}
#wrapper #work_spec ul {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#wrapper #work_spec ul li {
  margin-bottom: 10px;
}
#wrapper #work_spec ul li:last-child {
  margin-bottom: 0;
}
