@charset "utf-8";
$font_size: 20px;
$font_color: #000;
/* common------------------------------
--------------------------------------*/
.h2 {
	font-size: 40px;
	font-family: "impact";
	color: $font_color;
	text-align: center;
	margin: 50px auto;
	text-transform: uppercase;
}

/* header------------------------------
--------------------------------------*/
header {
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	#logo {
		display: flex;
    justify-content: center;
    a {
    	font-family: "impact";
    	text-decoration: none;
    	font-size: 40px;
    	color: #fff;
    }
	}

	#nav_toggle{
		float: right;
		width: 40px;
		height: 40px;
		position: relative;
		top: -33px;
		right: 10px;
		z-index: 100;
		div {
			position: relative;
			span {
				display: block;
				height: 3px;
				background: #fff;
				position:absolute;
				width: 100%;
				left: 0;
				-webkit-transition: 0.5s ease-in-out;
				-moz-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
				&:nth-child(1) {
					top: 0px;
				}
				&:nth-child(2) {
					top: 12px;
				}
				&:nth-child(3) {
					top: 24px;
				}
			}
		}
	}
	nav {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		height: 100vh;
		background:rgba(255,255,255,0.9);
		display: none;
		ul {
			display: block;
			margin: 50px auto;
			width: 90%;
			li {
				margin: 0 auto 50px auto;
				text-align: center;
				a {
					text-decoration: none;
					display: block;
					color: $font_color;
					font-size: 30px;
					font-weight: 700;
				}
				&:last-child {
					font-size: 10px;
					display: flex;
					justify-content: center;
					a {
						font-size:10px;
					}
				}
			}
		}
		#sns_nav {
			display: flex;
			justify-content: center;
			margin: 50px auto 0 auto;
			width: 200px;
			border-bottom: 1px solid #000;
			padding-bottom: 50px;
			li {
				margin: 0;
				&:nth-child(2) {
					margin: 0 20px;
				}
				a {
					i {
						font-size: 40px;
					}
				}
			}
		}
	}
}
.open {
	#nav_toggle {
		div {
			span {
				background-color: #000;
				&:nth-child(1) {
					top: 12px;
				  -webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					transform: rotate(135deg);
				}
				&:nth-child(2) {
					width: 0;
					left: 50%;
				}
				&:nth-child(3) {
					top: 12px;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					transform: rotate(-135deg);
				}
			}
		}
	}
}
/* video------------------------------
--------------------------------------*/

#main_video {
	position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
	#video{
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  width: 100vw;
	  height: 100vh;
	  min-width: 177.77vh;
	  min-height: 56.25vw;
	  z-index: -1;
	}
}
/* About------------------------------
--------------------------------------*/
#about {
	#about_wrapper{
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		#about_img {
			position: relative;
			margin: 0 auto 50px auto;
			img{
				width: 300px;
				height: 400px;
			}
			.about_bg {
				position: absolute;
				top: 20px;
				left: 20px;
				z-index: -1;
				width: 300px;
				height: 400px;
				background-color: #5c5757;
			}
		}
		#about_dis {
			dl {
				line-height: 1.5em;
				font-size: $font_size;
				dt {
					//margin-bottom: 10px;

				}
				dd {
					margin-top: 30px;
					p {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
/* skill------------------------------
--------------------------------------*/
#skill {
	#skill_box {
		background-image: url(../images/skill_bg.jpg);
		background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	  z-index: 1;
	  padding: 20px;
	  margin-bottom: 20px;
	  #skill_li {
	  	border: 1px solid #fff;
	  	background-color: rgba(255, 255, 255, .3);
	  	padding: 20px;
	  	width: 200px;
	  	margin: 0 auto;
	  	text-align: center;
	  	ul {
	  		color: #fff;
	  		li {
	  			margin-bottom: 20px;
	  			&:last-child{
	  			margin-bottom: 0; 
	  			}
	  		}
	  	}
	  }
	}
}
/* skillbar------------------------------
--------------------------------------*/
#skill_bar {
	width: 90%;
	margin: 0 auto;
}
.skillbar {
  position:relative;
  display:inline-block;
  margin: 10px auto;
  background:#eee;
  height: 40px;
  border-radius:3px;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12) inset;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:40px;
  line-height:40px;
}

.skillbar-bar {
  height:40px;
  width:0;
  background:#6adcfa;
  border-radius:3px;
  display:inline-block;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}
/* work------------------------------
--------------------------------------*/
#work {
	#work_wrapper {
		margin: 0 auto;
		width: 90%;
		.work_li {
			position: relative;
			margin-bottom: 30px;
			img {
				width: 100%;
				height: 300px;
			}
			p {
				display: inline-block;
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 10;
				border-bottom: 1px solid #fff;
				border-top: 1px solid #fff;
				padding: 20px;
				text-align: center;
				background-color: rgba(255,255,255,.3);
			}
		}
	}
}
/* contact------------------------------
--------------------------------------*/
#contact {
	width: 90%;
	margin: 0 auto;
	#sns_wrapper {
		margin-bottom: 50px;
		ul {
			display: flex;
			justify-content: center;
			li {
				&:nth-child(2) {
					margin: 0 30px;
				}
				a {
					text-decoration: none;
					font-size: 40px;
					color: $font_color;
				}
			}
		}
	}
	#contact_from {
		border: 1px solid #000;
		height: 500px;
		width: 100%; 
	}
}
/* footer------------------------------
--------------------------------------*/
footer {
	margin-top: 50px;
	border-top: 1px solid #000;
	font-size: 8px;
	color: #000;
	text-align: center;
	padding: 20px;
	small {
		a {
			text-decoration: none;
			color: #000;
		}
	}
}

